body
{
    font-family: 'Roboto Mono', monospace;
    background:  pink;
}

.header_div
{
    background: white;
    color: rgb(170, 131, 207);
}
.header_div p
{
    font-family: 'DynaPuff', cursive;
    color: grey;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}

.main_div button
{
    font-family: 'DynaPuff', cursive;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}

.copy_right_footer
{
    position: fixed;
    color: grey;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: azure;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px gray;
}